<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-light">
      <a href="#" ng-click="fecharModal()"><span class="ion-arrow-left-c icon-voltar"></span></a>
      <h1 class="title fonte-cor-sobre">Sobre</h1>
    </ion-header-bar>

    <ion-content>
        <div class="row">
            <div class="col">
                <div class="texto-sobre">
                     Lorem ipsum dolor sit amet, lectus tempus sit sem lacus. Pede turpis hymenaeos tellus, id malesuada neque pellentesque lorem vel, ipsum pede habitant. Montes                        vivamus pede tortor ante convallis, mi nullam dis auctor integer sit. Blandit montes sit wisi egestas, condimentum in vel rhoncus molestie aliquet                                  sollicitudin, ut sit, ornare varius volutpat aliquam nulla non iaculis, a turpis semper habitant. Id eleifend aliquet sem mauris ullamcorper, congue sociis justo elit quis nibh. 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br><br>
                <img class="full-image" src="https://uploaddeimagens.com.br/images/000/543/648/full/sobrelogos.jpg" >
            </div>
        </div>
    </ion-content>
  </ion-modal-view>
