<ion-modal-view>
    <div class="bar bar-header">
      <h1 class="title">Buscador</h1>
          <a ng-click="cancelar()" class="btn-cancel-modal ion-android-arrow-back icone-voltar"></a>
    </div>
    <div class="bar bar-subheader">
  
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper margin-left-buscar">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Lojas, Serviços, Restaurantes...">
  </label>
  <a class="btn-cancel-modal">Buscar</button>
</div>
    
    
    </div>
    <ion-content>
        
    </ion-content>
  </ion-modal-view>
