<ion-view view-title="">
  <ion-content>
    <ion-list>
    <div class="list card">

  <div class="item item-avatar">
    <img src="http://marcosbrasil.com.br/imagens/icon_perfil.png">
    <h2>Loja 1</h2>
    <p>Pizzaria</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://www.pizzariaasterix.com.br/admin/filespublic/catalogos/pizzas_variadas/bacon.jpg">
    <p>
      <h2>Promoção!!! Pizza + Refri(Coca ou Fanta), por apenas 21,00 R$!</h2>
    </p>
 	<div class="row">
  		<div class="col col-50"><span class="subdued">1 pessoa gostou</span>
  		</div>
  		<div class="col"><strong>Entrega</strong></div>
  		<div class="col"><strong>3 km</strong></div>
	</div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Gostei
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ios-telephone"></i>
      Ligar
    </a>
    
  </div>

</div>
        
    </ion-list>
  </ion-content>
</ion-view>
